@import "../skyflow/variables";
.btnstageBTN-modal-container {
    padding: 5px;

    .btnstageBTN-modal-header {
        border-bottom: 2px solid $color-secondary;
        color: $color-secondary;
        padding-bottom: 2px;
        margin: 5px;
        font-weight: bolder;
    }
    .btnstageBTN-modal-body {
        margin: 30px 5px;
        .switch-container {
            margin-top: 30px;
            text-align: center;
            width: 100%;
            span, label, input {
                display: inline-block;
                vertical-align: middle;
                margin: 0 5px;
            }
        }
        &.modal-info-body {
            margin: 5px;
            .album-info-line {
                margin: 8px 0;
                .value {
                    color: $color-success;
                    font-weight: 500;
                }
            }
        }
        &.modal-share-body {
            margin: 50px;
            text-align: center;
            button {
                margin: 5px;
                min-width: 130px;
                display: inline-block;
                background-color: transparent;
                color: $color-primary;
                border: 1px solid $color-success;
                transition: all 0.5s;
                &:hover {
                    background-color: $color-success;
                    color: #ffffff;
                }
            }
        }
    }
    .btnstageBTN-modal-footer {
        text-align: right;
        button.btnstageBTN-btn {
            font-size: 18px;
            max-width: 200px;
        }
    }

    &.modal-loading {
        min-width: 100px !important;
        width: 100px !important;
        background-color: transparent !important;
        box-shadow: none !important;
        .btnstageBTN-modal-body {
            margin: 0 !important;
            padding: 0 !important;
        }
        .btnstageBTN-modal-header {
            display: none !important;
        }
        .btnstageBTN-modal-footer {
            display: none !important;
        }
        #spinner-loader {
            display: block !important;
        }
    }

    #btnstageBTN-modal-accept {
        background-color: #fff;
        &:hover {
            background-color: $btnstage-color;
        }
    }

    #btnstageBTN-modal-cancel {
        //background-color: #fff;
        //border: 2px solid $color-error;
        //color: $color-error;
        //&:hover {
        //    color: #ffffff;
        //    background-color: $color-error;
        //}
    }

}
.btnstageBTN-modal-is-open {
    overflow: hidden;
}