@import "../skyflow/variables";
@import "../mixins";

/* The switch - the box around the slider */
.btnstageBTN-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  input {display:none;}
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include border-radius(34px);
    background-color: $color-secondary;
    @include transition();
    &:before {
      position: absolute;
      content: "";
      height: 22px;
      width: 22px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      @include transition();
      border-radius: 50%;
    }
  }
  input:checked + .slider {
    background-color: $color-primary;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px $color-primary;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

}





