@import "../skyflow/variables";
@import "../mixins";

.btnstageBTN-first-title {

  color: $color-primary;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid $color-primary;
  margin-bottom: 15px;

}