{% extends 'base.html.twig' %}

{% block title %}Twib{% endblock %}

{% block headerTypeClass %}homepage{% endblock %}

{% block container %}

    <div id="homepage" >

        <div class="section-1">
 
            <a href="{{ path('message_create')}}">Créer un message</a>
        </div>


        </div>

{% endblock %}