{% extends 'base.html.twig' %}

{% block title %}Twib{% endblock %}


{% block container %}

    <div class="breadcrumb-container">

        <a href="{{ path('homepage') }}">Accueil</a> >
        <span>Mentions légales</span>

    </div>

    <div id="cgu">

        <p>
            Blablas
        </p>

    </div>

{% endblock %}