{#
    type: Type of button (primary, secondary)
    text: Text to display,

#}

<button type="submit" class="stage-btn btn-{{ type }} _lg-inline-block _md-inline-block _block
                _m-t-15
                _m-b-15
_m-l-auto
_m-r-auto
 _md-m-10 _f-s-15 _md-f-s-20">
    {% if icon is defined %}
        <i class="icon-{{ icon }} _f-s-20 _md-f-s-30"></i>
    {% endif %}
    {{ text }}
</button>