@import "skyflow/variables";
@import "../fonts/font";

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0; margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #F2F2F2;
  min-height: 100vh;
  padding-top: $header-height + 50px;
  padding-bottom: $footer-height + 50px;
  position: relative;
  color: $font-color;
}

// Skyflow
@import "skyflow/misc";
@import "skyflow/margin";
@import "skyflow/font";
@import "skyflow/grid";
@import "skyflow/width";

// stage
@import "style/buttons";
@import "style/titles";
@import "style/boxes";
@import "style/input";
@import "style/select";
@import "style/switch";
@import "style/checkbox";
@import "style/animation";
@import "style/stageModal";
@import "style/stageNotification";

// Loaders
@import "loaders/spinnerLoader";

@import "header";

#container {
  width: 100%;
  max-width: $width-lg;
  margin: 0 auto 45px auto;
  padding: 0 15px;

  #page-title {
    font-size: 30px;
    color: $btnstage-color;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 50px;
  }

  .info-container {
    max-width: 800px;
    margin: 0 auto 50px auto;
    ._box {
      padding: 15px;
      ._box {
        padding: 0 0 15px 0;
        a {
          color: $btnstage-color;
          font-style: italic;
        }
      }
    }
  }

  .btn-container {
    text-align: center;
  }

  .breadcrumb-container {

    margin-bottom: 30px;

    a, span {
      color: #464646;
    }

  }

}

@import "footer";
